---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import React from "./icons/react.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Html from "./icons/Html.astro"
import Javascript from "./icons/Javascript.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-[#003159] text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  HTML: {
    name: "Html",
    class: "bg-[#003159] text-white",
    icon: Html,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#003159] text-white",
    icon: Javascript,
  },

}
const PROJECTS = [

  {
    title: "Snake App",
    description: 
      "Play the classic snake game, eating food and avoiding collisions.",
    link: "https://vercel.com/federicofabregues-projects/snake-js",
    github: "https://github.com/fede025/Snake.js",
    image: "/projects/Snake_OG-logo.jpg",
    tags: [ TAGS.TAILWIND, TAGS.JAVASCRIPT, TAGS.REACT],
  },
  {
    title: "Movie Finder",
    description: 
      "An app to find your favorite movies.",
    link: "https://movie-searcher-murex.vercel.app/",
    github: "https://github.com/fede025/Movie-finder",
    image: "/projects/Captura.PNG",
    tags: [ TAGS.TAILWIND, TAGS.JAVASCRIPT, TAGS.REACT ],
  },
  {
    title: "React-Cart",
    description:
      "An e-commerce website built with React, showcasing a responsive and interactive shopping cart experience. Browse products, add to cart, and manage your shopping list.",
    link: "https://react-cart-v8tx.vercel.app/",
    github: "https://github.com/fede025/react-cart",
    image: "/projects/reactCart.jpg",
    tags: [TAGS.TAILWIND, TAGS.JAVASCRIPT, TAGS.REACT ],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative aspect-video overflow-hidden rounded-xl shadow-xl transition duration-500 ease-in-out md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img 
        alt={title} 
        class="object-cover object-center w-full h-full transition duration-500 md:group-hover:scale-105" 
        loading="lazy" 
        src={image} 
      />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>


          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>